



@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900);
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900,900italic);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/* ===========================



   ======= 1. Body style ======== 



   =========================== */



* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #2d2d2d;
	background-color: #FFF;
	font-weight: 400
}
a:focus, img:focus, button:focus, .btn:focus {
	outline: none;
}
a {
	text-decoration: none;
	outline: none;
	color: #010101;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	display: block;
	border: none;
	max-width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}
button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
 *overflow:visible;
}
body, img {
 transition: all .2s linear;
 -o-transition: all .2s linear;
 -moz-transition: all .2s linear;
 -webkit-transition: all .2s linear;
}
td {
	text-align: left;
	vertical-align: top;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, main {
	display: block
}
audio, canvas, video {
	display: inline-block;
 *display:inline;
 *zoom:1
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
.clear {
	clear: both;
	line-height: 0;
	height: 0;
}



::-moz-selection {
 background:#4d4d4d;
 color:#fff;
 text-shadow:none;
}

::selection {
 background: #4d4d4d;
 color: #fff;
 text-shadow: none;
}
 @font-face {
 font-family: 'Source Code Pro';
 font-family: 'Source Sans Pro', sans-serif;
 font-family: 'Open Sans', sans-serif;
}
/* ===========================



   ========= 2. Headings ======== 



   =========================== */



h1 {
	font-family: 'Source Code Pro';
	font-size: 30px;
	line-height: 32px;
	font-weight: 400;
}
h2 {
	font-family: 'Source Code Pro';
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
}
h3 {
	font-family: 'Source Code Pro';
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
}
h4 {
	font-family: 'Source Code Pro';
	font-size: 18px;
	line-height: 19px;
	font-weight: 400;
}
h5 {
	font-family: 'Source Code Pro';
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
h6 {
	font-family: 'Source Code Pro';
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
}
/* ===========================



========= 3. Header ======== 



=========================== */



.header {
	position: relative;
	width: 100%;
}
.header .header_v1 figure {
	text-align: center
}
.header .header_v1 figure figcaption {
	text-transform: uppercase;
	position: relative;
	z-index: 60;
	padding-top: 20%;
}
.header .header_v1 figure figcaption h2 {
	color: #FFF;
	font-weight: 700;
	font-size: 53px;
	line-height: 54px;
	letter-spacing: 22px;
}
.header .header_v1 figure figcaption p {
	font-size: 12px;
	line-height: 14px;
	color: #8d8d8d;
	letter-spacing: 3px;
	padding-top: 12px
}
.header .header_v1 .bg_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .8)
}
.header .static-header figure figcaption {
	text-transform: uppercase;
	position: absolute;
	z-index: 60;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 250px;
	top: 0;
	padding: 0
}
.header .header_v1 figure.video-header {
	position: relative
}
.header .header_v1 figure.video-header .figcaption {
	left: 0;
	padding-top: 13%;
	position: absolute;
	right: 0;
	top: 0;
	text-transform: uppercase;
	z-index: 60;
}
.header .header_v1 figure.video-header .figcaption h2 {
    color: #FFF;
    font-weight: 700;
    font-size: 53px;
    line-height: 54px;
    letter-spacing: 22px;
}
.header .header_v1 figure.video-header .figcaption p {
    font-size: 12px;
    line-height: 14px;
    color: #8d8d8d;
    letter-spacing: 3px;
    padding-top: 12px;
}
#home-image img {
	height: 600px !important;
	width: 100% !important
}
.video-section .pattern-overlay {
	background-color: rgba(71, 71, 71, 0.59);
	padding: 110px 0 32px;
	min-height: 650px;
}
.video-section .buttonBar {
	display:none
}
.player {
	font-size:1px
}
/* ===========================



 =========  3.1 Menu Style ======== 



 =========================== */



.header .navbar {
	position: absolute;
	left: 0;
	right: 0;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.header .navbar.stuck {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	padding-top: 0;
	background-color: #FFF;
	min-height: 79px
}
.header h1 {
	float: left;
	margin-top: 44px;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.header h1 img {
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.header h1 .logo_hove {
	display: none
}
.header .navbar.stuck h1 .logo {
	display: none
}
.header .navbar.stuck h1 {
	margin-top: 20px
}
.header .navbar.stuck h1 .logo_hove {
	display: block
}
.header nav {
	float: right;
	position: relative
}
.header nav #menu-button {
	width: 28px;
	font-size: 0;
	float: right;
	height: 18px;
	position: relative;
	margin-top: 51px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
	cursor: pointer;
}
.header .navbar.stuck nav #menu-button {
	margin-top: 30px;
}
.header nav #menu-button span {
	display: block;
	position: absolute;
	z-index: 60;
	height: 3px;
	width: 100%;
	background: #FFF;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}
.header .navbar.stuck nav #menu-button span {
	background: #010101;
}
 .header nav #menu-button span:nth-child(1) {
 top: 0px;
}
 .header nav #menu-button span:nth-child(2) {
 top: 7px;
}
 .header nav #menu-button span:nth-child(3) {
 top: 14px;
}
 .header nav #menu-button.open span:nth-child(1) {
 top: 10px;
 -webkit-transform: rotate(135deg);
 -moz-transform: rotate(135deg);
 -o-transform: rotate(135deg);
 transform: rotate(135deg);
}
 .header nav #menu-button.open span:nth-child(2) {
 opacity: 0;
 left: -60px;
}
 .header nav #menu-button.open span:nth-child(3) {
 top: 10px;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
}
.header nav ul {
	display: none;
	position: absolute;
	right: 24.5%;
	top: 0;
	margin-top: 20px;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.header .navbar.stuck nav ul {
	margin-top: 0;
}
.header nav ul > li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 35px;
	font-weight: 600;
	letter-spacing: 2px;
	position: relative
}
.header nav ul > li > a {
	color: #FFF;
	line-height: 79px;
	display: block
}
.header .navbar.stuck nav ul > li > a {
	color: #010101
}
<!--
.header nav ul > li:hover ul {
	display: block
}
-->
.header nav ul > li ul {
	position: absolute;
	right: 0;
	top: 45px;
	border: 2px solid #2d2d2d;
	background-color: #2d2d2d;
	width: 220px;
	padding-left: 24px;
	padding-right: 26px;
	padding-top: 26px;
	padding-bottom: 6px;
	display: none
}
.header .navbar.stuck nav ul li ul {
	border-color: #FFF;
	top: 77px
}
.header .navbar.stuck nav ul li ul li a {
	color: #FFF
}
.header nav ul > li ul li {
	padding-left: 0;
	font-size: 13px;
}
.header nav ul > li ul li a {
	line-height: 14px;
	padding-bottom: 24px
}
.header .angle-down {
	position: absolute;
	background-image: url(../images/down_arrow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 13px;
	height: 103px;
	left: 50%;
	bottom: 50px;
	display: inline-block;
	margin-left: -12px;
	z-index: 999;
	-webkit-animation: bounce 2000ms infinite;
	-moz-animation: bounce 2000ms infinite;
	-o-animation: bounce 2000ms infinite;
	-ms-animation: bounce 2000ms infinite;
	animation: bounce 2000ms infinite;
}
/* ===========================



========= 4. Estudio Home page ======== 



=========================== */



.about_pan_home {
	background-color: #e2d0b8;
	text-align: center;
	padding-top: 106px;
	padding-bottom: 120px
}
.about_pan_home p {
	font-weight: 300;
	font-size: 21px;
	line-height: 39px;
	color: #130e14;
	letter-spacing: 3px
}
.about_pan_home a {
	font-size: 12px;
	line-height: 49px;
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	width: 178px;
	letter-spacing: 6px;
	background-color: #2d2d2d;
	border-radius: 5px;
	margin-top: 47px
}
.about_pan_home a:hover {
	background-color: #565656 !important;
}
/* ===========================



========= 5. Servicios Home ======== 



=========================== */



.services-area-home {
	padding-top: 105px;
	padding-bottom: 116px
}
.service_details p {
	font-weight: 300;
	font-size: 21px;
	line-height: 37px;
	padding-bottom: 41px;
	color: #555;
	letter-spacing: 3px
}
.service_details p + p {
	font-size: 16px;
	line-height: 23px;
	padding-bottom: 35px;
	letter-spacing: 1px;
	font-weight: 600;
}
.service_details .button-service {
	display: inline-block;
	font-size: 12px;
	line-height: 49px;
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	width: 226px;
	letter-spacing: 6px;
	background-color: #000;
	text-align: center
}
.services-area-home aside {
	padding-left: 56px
}
.services-area-home aside h6 {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 900;
	color: #202020;
	letter-spacing: 6px
}
.services-area-home aside ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 33px
}
.services-area-home aside ul li {
	font-size: 19px;
	line-height: 16px;
	font-weight: 300;
	color: #202020;
	padding-left: 21px;
	position: relative;
	margin-bottom: 14px;
	letter-spacing: 1px
}
/* .services-area-home aside ul li:before {
	content: "";
	background-color: #130e14;
	display: inline-block;
	width: 5px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 8px
} */
/* ===========================



========= 6. Fun-Facts ======== 



=========================== */



.fun-facts {
	padding-top: 113px;
	padding-bottom: 146px
}
.fun-facts .happy-us {
	padding-left: 55px
}
.fun-facts h3 {
	font-size: 63px;
	line-height: 64px;
	font-weight: 900;
	color: #FFF;
	display: block;
	padding-bottom: 13px
}
.fun-facts span {
	font-family: 'Source Code Pro';
	display: block;
	text-transform: uppercase;
	color: #FFF;
	font-size: 15px;
	line-height: 16px;
	font-weight: 300
}
/* ===========================



========= 7. Latest Project ======== 



=========================== */



.latest-projects-pan {
	padding-top: 122px
}
.latest-projects-top header h3 {
	font-size: 27px;
	line-height: 28px;
	text-transform: uppercase;
	color: #130e14;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 6px
}
.latest-projects-top header h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	color: #232024;
	letter-spacing: 5px
}
.latest-projects-top ul {
	text-align: right;
	padding-top: 15px
}
.latest-projects-top ul > li {
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	letter-spacing: 4px;
	background-image: url(../images/devider.jpg);
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-right: 18px
}
.latest-projects-top ul > li:last-child {
	padding-right: 0
}
.latest-projects-top ul > li:first-child {
	padding-left: 0;
	background-image: none
}
.latest-projects-top ul > li.active {
	color: #89878a
}
.projects-images {
	padding-top: 59px
}
.projects-images ul {
	text-align: center
}
#Grid .mix {
	display: none;
	opacity: 0;
}
 .no-gutter [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}
.projects-images ul li {
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
	overflow: hidden;
	position: relative;
}
.projects-images ul li a {
	overflow: hidden
}
.projects-images ul li .figcaption {
	background: #e2d0b8;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transition: opacity, 0.3s;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.projects-images ul li section {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.projects-images ul li h5, .projects-images ul li p, .projects-images ul li img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.projects-images ul li h5, .projects-images ul li p {
	color: #181818;
	margin: 0;
	opacity: 0;
}
.projects-images ul li h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}
.projects-images ul li p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.projects-images ul li a:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.projects-images ul li a:hover .figcaption {
	opacity: 1;
}
.projects-images ul li:hover .figcaption h5, .projects-images ul li:hover .figcaption p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.view_button {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 21px;
	display: block;
	margin: 50px auto;
	text-align: center;
	color: #232024;
	letter-spacing: 6px;
	width: 300px;
	border-left: 2px solid #e2d0b8;
	border-right: 2px solid #e2d0b8;
	margin-bottom: 48px
}
.view_button:hover {
	background-color: #e2d0b8
}
/* ===========================



========= 8. Testimonial ======== 



=========================== */



.testimonial_pan {
	background-color: #f0f0f0;
	padding-top: 114px;
	padding-bottom: 120px
}
.testimonial_pan article p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing:2px;
	padding-bottom: 30px
}
.testimonial_pan article h6 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 5px;
	color: #130e14;
	border-bottom: 1px solid #a3a4ab;
	display: inline-block;
	padding-bottom: 20px
}
.testimonial_pan .owl-controls .owl-pagination {
	text-align: center;
	padding-top: 28px
}
.testimonial_pan .owl-controls .owl-pagination .owl-page {
	display: inline-block;
	background-color: #b7b7b7;
	width: 12px;
	height: 11px;
	border-radius: 100%;
	margin: 0 4px
}
.testimonial_pan .owl-controls .owl-pagination .owl-page.active {
	background-color: #130e14
}
/* ===========================



========= 9. Logoes Silde ======== 



=========================== */



.logoes-pan {
	position: relative;
	padding-top: 48px;
	padding-bottom: 53px
}
.logoes-pan ul {
	margin: 0 auto;
	padding: 0 10%
}
.logoes-pan ul li {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}
.logoes-pan ul li img {
	margin: 0 auto;
	display: block
}
.logoes-pan .owl-buttons div {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 16px;
	cursor: pointer;
	width: 68px;
	height: 13px;
	background-position: 0 0;
	background-repeat: no-repeat
}
.logoes-pan .owl-buttons div.owl-prev {
	left: 0;
	background-image: url(../images/prev.png)
}
.logoes-pan .owl-buttons div.owl-next {
	right: 0;
	background-image: url(../images/next.png)
}
/* ===========================



========= 10 . Let's start a project ======== 



=========================== */



.letsproject-pan {
	background-color: #fff445;
	text-align: center
}
.letsproject-pan a {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 21px;
	line-height: 150px;
	color: #181818;
	letter-spacing: 4px;
	display: inline-block
}
.letsproject-pan a:hover {
	color: #9a9a9a
}
/* ===========================



========= 11. Footer ======== 



=========================== */



.footer {
	background-color: #181818;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
	font-weight: 200
}
.footer address {
	font-size: 12px;
	line-height: 23px;
	font-style: normal;
	letter-spacing: 2px;
}
.footer address a {
	color: #fff;
	display: block;
	
	
}
.footer address a:hover {
	color: #e2d0b8;
	
}
.footer menu.socil-icon-one {
	margin-left: 55px
}
.footer menu.socil-icon-two {
	margin-left: 16px
}
.footer ul li {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 37px;
	list-style: none;
	letter-spacing: 3px;
	font-weight: 200
}
.footer ul li a {
	display: block;
	color: #999;
	cursor: pointer !important;
}
.footer ul li a:hover {
	color: #FFF
}
label {
	
	cursor: pointer !important;
}
.footer p {
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 2px;
	padding-top: 2px
}
.footer h5 {
	font-size: 14px;
	line-height: 13px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.footer address figure {
	padding-bottom: 10px
}


/* ===========================



========= 12. Header Inner Banner ======== 



=========================== */



.header_inner_banner {
	width: 100%;
	position: relative
}
.header_inner_banner figure img {
	width: 100%;
	margin: 0 auto
}
.header_inner_banner .header-title {
	text-transform: uppercase;
	position: absolute;
	z-index: 60;
	right: 0;
	left: 0;
	text-align: center;
	top: 0;
	padding-top: 170px;
}
.header_inner_banner .header-title h2 {
	color: #FFF;
	font-weight: 700;
	font-size: 31px;
	line-height: 33px;
	letter-spacing: 7px;
	font-family: 'Source Sans Pro', sans-serif;
}
.header_inner_banner .header-title p {
	font-size: 12px;
	line-height: 14px;
	color: #8d8d8d;
	letter-spacing: 4px;
	padding-top: 12px
}
.header_inner_banner .bg_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5)
}
/* ===========================



========= 13. About Pan ======== 



=========================== */



.about_pan {
	background-color: inherit;
	padding-bottom: 91px
}
/* ===========================



========= 14. The History ======== 



=========================== */



.the-history article {
	padding-left: 39px
}
.the-history article h6 {
	text-transform: uppercase;
	font-weight: 800;
	color: #000;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 5px;
	padding-bottom: 19px
}
.the-history article p {
	font-size: 15px;
	line-height: 27px;
	letter-spacing: 1px;
	color: #555;
	font-weight: 300;
	padding-bottom: 26px
}
/* ===========================



========= 15. The Team ======== 



=========================== */



.the-team {
	padding-top: 63px
}
.the-team .header-title {
	text-align: center;
	text-transform: uppercase
}
.the-team .header-title h2 {
	color: #130e14;
	font-weight: 800;
	font-size: 27px;
	line-height: 28px;
	letter-spacing: 3.5px;
	padding-bottom: 5px
}
.the-team .header-title p {
	color: #232024;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 7px
}
.tema-images {
	padding-top: 109px;
	overflow: hidden
}
.tema-images li {
	overflow: hidden;
	text-align: center;
	text-transform: uppercase
}
.tema-images li figure {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.tema-images li figure img {
	margin: 0 auto;
	display: block;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.tema-images li:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.tema-images li .section {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transition: opacity, 0.3s;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.tema-images li .social_icons {
	position: absolute;
	text-align: center;
	top: 68%;
	width: 100%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tema-images li .social_icons a {
	width: 28px;
	height: 28px;
	border-radius: 100%;
	background-color: #FFF;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	display: inline-block;
	margin: 0 3px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.tema-images li .social_icons a i {
	opacity: 0.5
}
.tema-images li:hover .section {
	opacity: 1;
}
.tema-images li:hover social_icons a {
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.tema-images li .social_icons a:hover {
	background-color: #fff445
}
.tema-images li header {
	padding-top: 36px;
 
}
.tema-images li header h5, .tema-images li header h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 14px
}
.tema-images li header h5 {
	font-weight: 700;
	color: #232024;
	letter-spacing: 6px;
	padding-bottom: 9px
}
.tema-images li header h6 {
	color: #8d8d8d;
	letter-spacing: 6px
}
/* ===========================



========= 16. Our expertise ======== 



=========================== */



.our-expertis {
	padding-top: 93px;
	padding-bottom: 82px
}
.our-expertis article h6 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
	color: #000;
	font-weight: 800;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 5px;
	padding-bottom: 12px
}
.our-expertis article p {
	font-size: 15px;
	line-height: 27px;
	color: #555;
	letter-spacing: 1px;
	font-weight: 300;
	padding-bottom: 25px
}
.progress_barpan section {
	padding-left: 47px
}
.progress_barpan ul {
	list-style: none
}
.progress_barpan li {
	position: relative;
	margin-bottom: 38px
}
.progress_barpan li .progress {
	height: 3px;
	border-radius: 0;
	background-color: #dbdbdb;
	max-width: 560px;
	box-shadow: none;
	margin-bottom: 0
}
.progress_barpan li .progress .progress-bar {
	box-shadow: none;
	background-color: #232024
}
.progress_barpan li h5 {
	text-transform: uppercase;
	letter-spacing: 6px;
	color: #232024;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 14px;
	padding-bottom: 19px
}
.progress_barpan li h6 {
	color: #232024;
	letter-spacing: 2px;
	font-size: 13px;
	line-height: 14px;
	font-weight: 400;
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	right: 0;
	top: 71%
}
/* ===========================



========= 17. works ======== 



=========================== */



.works_wrapper {
	padding-top: 95px;
	padding-bottom: 120px
}
.works_wrapper ul.works-nav {
	text-align: center;
}
.works_wrapper ul.works-nav li {
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	letter-spacing: 4px;
	background-image: url(../images/devider.jpg);
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-right: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}
.works_wrapper ul.works-nav li:last-child {
	padding-right: 0
}
.works_wrapper ul.works-nav li:first-child {
	padding-left: 0;
	background-image: none
}
.works_wrapper ul.works-nav li.active {
	color: #000000
}
.works_wrapper .projects-images {
	padding-top: 80px
}
.works_images ul li figcaption {
	background: rgba(234, 234, 234, 0.9);
}
.works_images ul li:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.works_images ul li:hover .figcaption {
	opacity: 1;
}
.works_images ul li h5 {
	font-size: 13px;
	line-height: 14px;
	font-weight: 800;
	letter-spacing: 6px;
	padding-bottom: 7px
}
.works_images ul li h5, .works_images ul li p {
	color: #130e14;
	text-transform: uppercase
}
.works_images ul li p {
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 4px
}
.works_images ul li a {
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	display: inline-block;
	text-align: center;
	border-radius: 100%;
	margin-bottom: 18px;
	-moz-transform: translate3d(0, -900%, 0);
	-ms-transform: translate3d(0, -900%, 0);
	-webkit-transform: translate3d(0, -900%, 0);
	transform: translate3d(0, -900%, 0);
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #000
}
.works_images ul li:hover a {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.works_images ul li a:hover {
	background-color: #fff445;
	border-color: #dbd01c
}
/* ===========================



========= 18. Services ======== 



=========================== */



.all-serivices {
	background-color: #f0f0f0;
	padding-top: 100px;
	padding-bottom: 96px
}
.all-serivices section {
	text-align: center
}
.all-serivices section h3 {
	text-transform: uppercase;
	color: #060606;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 15px;
	display: block;
	letter-spacing: 6px;
	font-weight: 800;
	padding-bottom: 22px
}
.all-serivices section p {
	font-size: 15px;
	line-height: 23px;
	color: #555;
	letter-spacing: 2px;
	font-weight: 300
}
.all-serivices section span {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-align: center;
	color: #FFF;
	line-height: 40px;
	font-size: 18px;
	background-color: #060606;
	margin-bottom: 23px
}
.all-serivices section:hover span {
	background-color: #fff445;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.services-text {
	overflow: hidden;
	padding-top: 92px;
	padding-bottom: 50px
}
.services-text article h4 {
	font-weight: 300;
	font-size: 19px;
	line-height: 37px;
	letter-spacing: 2px;
	color: #3f3b40;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 39px
}
.services-text article p {
	font-weight: 300;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 2px;
	padding-bottom: 23px
}
.services-text figure {
	float: right
}
.area-expertise {
	padding-bottom: 110px;
	overflow: hidden
}
.area-expertise h6, .contact-wrapper aside h6 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
	color: #000;
	font-weight: 800;
	letter-spacing: 5px;
	padding-bottom: 26px
}
.area-expertise ul li {
	color: #4e4a4f;
	font-size: 15px;
	line-height: 30px;
	display: block;
	font-weight: 300;
	letter-spacing: 2px;
	padding-left: 22px;
	background-image: url(../images/devider-serivces.png);
	background-repeat: no-repeat;
	background-position: 0 15px
}
/* ===========================



========= 19. Blog ======== 



=========================== */



.blog-wrapper {
	padding-top: 99px;
	padding-bottom: 71px
}
.blog-wrapper .blog_left {
	padding-right: 39px
}
.blog-wrapper .blog_right {
	float: right;
	padding: 0
}
.blog_left article {
	margin-bottom: 99px
}
.blog_left article header .post-date {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #555;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 13px
}
.blog_left article header h5 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
	padding-bottom: 26px
}
.blog_left article header h5 a {
	color: #130e14
}
.blog_left article header h5 a:hover {
	text-decoration: underline;
	color: #7f7c45
}
.blog_left article header .authore-cat-comment {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	color: #555;
	font-weight: 600;
	margin-bottom: 41px
}
.blog_left article header .authore-cat-comment a {
	color: #939393;
}
.blog_left article header .authore-cat-comment a:hover {
	color: #000
}
.blog_left article p {
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 2px;
	color: #555;
	font-weight: 300
}
.blog_left article .continue-button {
	display: block;
	width: 178px;
	line-height: 49px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 5px;
	font-size: 12px;
	background-color: #000;
	margin-top: 45px
}
.blog_left article .continue-button:hover {
	background-color: #fff445;
	color: #000
}
.blog_left article .blog-slider-pan {
	position: relative;
	margin-bottom: 79px
}
.blog_left article .blog-slider-pan ul li {
	list-style: none;
	width: 100%
}
.blog_left article .blog-slider-pan .owl-buttons div {
	position: absolute;
	top: 50%;
	z-index: 60;
	width: 54px;
	height: 17px;
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 0
}
.blog_left article .blog-slider-pan .owl-buttons div.owl-prev {
	left: 17px;
	background-image: url(../images/blog/left-arrow.jpg)
}
.blog_left article .blog-slider-pan .owl-buttons div.owl-next {
	right: 17px;
	background-image: url(../images/blog/right-arrow.jpg)
}
.blog_left article figure, .blog_left article .video {
	margin-bottom: 79px
}
.pagination {
	overflow: hidden;
	width: 100%
}
.pagination ul {
	list-style: none
}
.pagination ul li {
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin: 0 3px;
	text-transform: uppercase
}
.pagination ul li > a {
	display: table-cell;
	line-height: 40px;
	border: 1px solid #a3a3a3;
	width: 40px;
}
.pagination ul li:first-child a {
	width: 79px;
	float: left;
	margin-right: 173px;
	margin-left: 0
}
.pagination ul li:last-child a {
	width: 79px;
	float: right;
	margin-left: 111px;
	margin-right: 0
}
.pagination ul li > a:hover {
	background-color: #fff445
}
.blog_right aside.search-from {
	margin-bottom: 78px
}
.blog_right aside.search-from form {
	position:relative
}
.blog_right aside.search-from form label {
	display:block;
	width:100%
}
.blog_right aside.search-from form label:before {
	content:"\f002";
	font-family:'FontAwesome';
	font-size:21px;
	line-height:41px;
	text-align:right;
	position: absolute;
	right:15px;
	top:0;
	font-weight:400;
}
.blog_right aside.search-from input {
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	height: 44px;
	border: 1px solid #cdcdcd;
	padding: 0 10px;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.blog_right aside.search-from input:focus {
	border-color: #fff445
}
.blog_right aside h6 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 14px;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	letter-spacing: 4px;
	padding-bottom: 34px
}
.blog_right aside.categories-pan {
	margin-bottom: 53px
}
.blog_right aside.categories-pan ul {
	list-style: none
}
.blog_right aside.categories-pan ul li {
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	background-image: url(../images/devider-serivces.png);
	background-position: 0 9px;
	background-repeat: no-repeat;
	padding-left: 21px;
	padding-bottom: 21px
}
.blog_right aside.categories-pan ul li a {
	color: #555
}
.blog_right aside.categories-pan ul li a:hover {
	color: #000
}
.blog_right aside.recent-post-pan {
	margin-bottom: 58px
}
.blog_right aside.recent-post-pan ul {
	list-style: none
}
.blog_right aside.recent-post-pan ul li {
	overflow: hidden;
	margin-bottom: 20px
}
.blog_right aside.recent-post-pan ul li figure {
	float: left;
	width: 70px;
	overflow: hidden;
	height: 70px;
	margin-right: 30px
}
.blog_right aside.recent-post-pan ul li .section {
	float: right
}
.blog_right aside.recent-post-pan ul li .section a {
	display: block;
	color: #727172;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 1px;
	font-weight: 300;
	padding-bottom: 6px
}
.blog_right aside.recent-post-pan ul li .section a:hover {
	color: #000;
	text-decoration: underline
}
.blog_right aside.recent-post-pan ul li .section span {
	color: #555;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px
}
.blog_right aside.flickr-feed-pan ul {
	list-style: none;
	overflow: hidden
}
.blog_right aside.flickr-feed-pan ul li {
	display: inline-block;
	margin-bottom: 22px
}
.blog_right aside.flickr-feed-pan ul li figure {
	width: 85px;
	height: 85px;
	overflow: hidden
}
.blog_right aside.recent-post-pan ul li figure img {
	max-width: 100%;
	width: 100%;
	height: auto
}
.blog_right aside.flickr-feed-pan ul li figure img {
	width: 100%;
	max-width: 100%;
	height: auto
}
 .blog_right aside.flickr-feed-pan ul li:nth-child(2), .blog_right aside.flickr-feed-pan ul li:nth-child(5) {
 margin: 0 8px
}
.blog-details-pan article {
	margin-bottom: 46px
}
.blog-details-pan article p {
	padding-bottom: 24px
}
.comments h6 {
	text-transform: uppercase;
	font-weight: 900;
	color: #000;
	letter-spacing: 3px;
	font-size: 17px;
	line-height: 18px;
	padding-bottom: 78px
}
.comments ol, .comments ul {
	list-style: none
}
.blog-details-pan .comments article, .blog-details-pan .comments article figure {
	margin-bottom: 0
}
.blog-details-pan .comments article figure {
	margin-right: 30px;
	float: left
}
.blog-details-pan .comments article .comment-meta {
	overflow: hidden
}
.blog-details-pan .comments article .comment-meta h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 800;
	font-size: 13px;
	line-height: 14px;
	color: #000;
	letter-spacing: 1px;
	display: block;
	float: left;
	text-transform: uppercase;
}
.blog-details-pan .comments article .comment-meta h5 span {
	display: block;
	color: #555;
	font-weight: 300;
	padding-top: 15px
}
.blog-details-pan .comments article .comment-meta .comment-reply-link {
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	letter-spacing: 4px;
	font-size: 12px;
	line-height: 38px;
	background-color: #000000;
	text-transform: uppercase;
	display: block;
	width: 98px;
	text-align: center
}
.blog-details-pan .comments article .comment-meta .comment-reply-link:hover {
	background-color: #fff445;
	color: #000000
}
.blog-details-pan .comments article .comment-body {
	margin-left: 99px;
	padding-top: 28px
}
.blog-details-pan .comments article .comment-body p {
	font-size: 15px;
	line-height: 23px;
	color: #555;
	font-weight: 300;
	letter-spacing: 2px
}
.blog-details-pan .comments ol ul {
	margin-left: 99px;
	padding-top: 30px
}
.blog-details-pan .leave-comment {
	padding-top: 86px
}
.blog-details-pan .leave-comment h5 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 18px;
	color: #000;
	font-weight: 800;
	letter-spacing: 2px;
	padding-bottom: 78px
}
.blog-details-pan .leave-comment input[type="text"], .blog-details-pan .leave-comment input[type="email"], .blog-details-pan .leave-comment textarea {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
	color: #555;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 1px;
	font-weight: 300;
	display: block;
	border-bottom: 1px solid #c3bec5;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 18px;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.blog-details-pan .leave-comment input[type="text"], .blog-details-pan .leave-comment input[type="email"] {
	margin-bottom: 56px
}
.blog-details-pan .leave-comment input[type="submit"] {
	width: 100%;
	text-align: center;
	font-weight: 200;
	color: #FFF;
	border: none;
	outline: none;
	display: block;
	font-size: 12px;
	letter-spacing: 5px;
	line-height: 49px;
	height: 49px;
	background-color: #000;
	text-transform: uppercase;
	margin-top: 40px
}
.blog-details-pan .leave-comment input[type="submit"]:hover {
	background-color: #fff445;
	color: #000
}
.blog-details-pan .leave-comment input[type="text"]:focus, .blog-details-pan .leave-comment input[type="email"]:focus, .blog-details-pan .leave-comment textarea:focus {
	border-bottom-color: #fff445
}
.video-iframe{ width:100%; height:400px;}
.video-video{ width:100%; height:100%}
/* ===========================



========= 20. Contact ======== 



=========================== */



.contact-wrapper {
	padding-top: 96px
}
.contact-wrapper h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	line-height: 20px;
	font-weight: 300;
	color: #4e4a4f;
	letter-spacing: 1px
}
.contact-wrapper .contact-form {
	padding-top: 75px
}
.contact-wrapper .contact-form input[type="text"]:focus, .contact-wrapper .contact-form input[type="email"]:focus, .contact-wrapper .contact-form input[type="tel"]:focus, .contact-wrapper .contact-form textarea:focus {
	border-bottom-color: #fff445
}
.contact-wrapper .contact-form input[type="text"], .contact-wrapper .contact-form input[type="email"], .contact-wrapper .contact-form input[type="tel"] {
	width: 100%;
	display: inline-block;
	max-width: 332px;
	padding-bottom: 19px;
	margin-bottom: 56px;
	margin-right: 35px
}
.contact-wrapper .contact-form input[type="text"], .contact-wrapper .contact-form input[type="email"], .contact-wrapper .contact-form input[type="tel"], .contact-wrapper .contact-form textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 17px;
	color: #555;
	font-weight: 300;
	letter-spacing: 1px;
	padding-left: 22px;
	padding-right: 10px;
	border-bottom: 1px solid #c3bec5;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
.contact-wrapper .contact-form input[type="email"], .contact-wrapper .contact-form input[type="tel"] {
	margin-bottom: 45px
}
.contact-wrapper .contact-form textarea {
	display: block;
	height: 104px;
	padding-bottom: 20px;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
	max-width: 700px;
	padding-top: 6px
}
.contact-wrapper .contact-form input[type="submit"] {
	width: 100%;
	display: block;
	max-width: 701px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 49px;
	height: 49px;
	color: #FFF;
	letter-spacing: 6px;
	background-color: #000000;
	border: none;
	outline: none;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
	margin-top: 40px
}
.contact-wrapper .contact-form input[type="submit"]:hover {
	background-color: #fff445;
	color: #181818
}
.contact-wrapper aside {
	padding-left: 37px
}
.contact-wrapper aside h6 {
	padding-bottom: 30px
}
.contact-wrapper aside address {
	font-style: normal;
	font-size: 15px;
	line-height: 27px;
	color: #727172;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 30px
}
.contact-wrapper aside address a {
	color: #727172
}
.contact-wrapper aside address a:hover {
	color: #000;
	text-decoration: underline
}
.contact-wrapper aside .social_icons a {
	color: #222222;
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	padding-right: 26px
}
.contact-wrapper aside .social_icons a:hover {
	color: #fff445
}
.address-map {
	width: 100%;
	margin-top: 96px
}
.address-map img {
	width: 100%;
	max-width: 100%;
	display: block
}
.demo-wrapper {
	width: 100%;
	margin: 0 auto;
	height: 395px;
}
#surabaya {
	width: 100%;
	height: 100%;
}
.error_message {
	color: #ff675f;
	font-weight: 500;
	padding-bottom: 15px;
}
h3.succes_message {
	color: #3C3;
}
/* ===========================



========= 21. 404 Page ======== 



=========================== */



.pagenotfound-wrapper {
	text-align: center;
	padding-bottom: 120px;
	padding-top: 100px
}
.pagenotfound-wrapper header {
	padding-bottom: 47px;
}
.pagenotfound-wrapper header h2 {
	display: inline-block;
	margin: 0 auto;
	width: 170px;
	line-height: 80px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	font-size: 71px;
	font-weight: 100;
	letter-spacing: 12px;
	background-color: #000
}
.pagenotfound-wrapper h5 {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
	color: #4e4a4f;
	letter-spacing: 3px;
	padding-bottom: 28px
}
.pagenotfound-wrapper p {
	color: #727172;
	font-size: 15px;
	line-height: 27px;
	letter-spacing: 1px;
	padding-bottom: 73px
}
.pagenotfound-wrapper a {
	display: inline-block;
	width: 100%;
	max-width: 272px;
	line-height: 49px;
	background-color: #000;
	color: #FFF;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 5px
}
.pagenotfound-wrapper a:hover {
	background-color: #fff445;
	color: #000
}
/* ===========================



========= 22. Commingsoon Page ======== 



=========================== */



.commingsoon-main-wrapper .background {
	background: #FFF;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.commingsoon-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	padding-top: 127px;
	font-family: 'Open Sans', sans-serif;
	text-align: center
}
.logo-commingsoon {
	padding-bottom: 45px
}
.logo-commingsoon img {
	margin: 0 auto;
	display: block
}
.commingsoon-content {
}
.commingsoon-content h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #35373e;
	font-size: 39px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: 3px;
	padding-bottom: 23px
}
.commingsoon-content p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #35373e;
	font-weight: 300
}
.notify-me-button {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin: 44px auto;
	line-height: 49px;
	border: 2px solid #35373e;
	width: 161px;
	text-align: center;
	letter-spacing: 4px;
	font-weight: 600
}
.notify-me-button:hover {
	background-color: #35373e;
	color:#FFF
}
.commingsoon-wrapper footer #countdown {
	text-transform: uppercase
}
.commingsoon-wrapper footer #countdown .item {
	display: inline-block;
	text-align: center;
	font-weight: 700;
	color: #35373e;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	border-right: 1px solid #35373e;
	margin-right: 58px;
	padding-right: 62px
}
.commingsoon-wrapper footer #countdown .item p {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	line-height: 49px;
	font-weight: 700;
	display: block;
	padding-bottom: 11px
}
.commingsoon-wrapper footer #countdown .item:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0
}
.commingsoon-wrapper .social-icon-wrapper {
	margin-top: 68px;
	margin-bottom: 60px
}
.commingsoon-wrapper .social-icon-wrapper ul {
	text-align: center;
	list-style: none
}
.commingsoon-wrapper .social-icon-wrapper ul li {
	display: inline-block
}
.commingsoon-wrapper .social-icon-wrapper ul li a {
	text-align: center;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid #35373e;
	line-height: 27px;
	display: block;
	font-size: 19px;
	color: #35373e;
	margin-right: 11px
}
.commingsoon-wrapper .social-icon-wrapper ul li a:hover {
	background-color: #35373e;
	color:#FFF;
}
.maintenance-main-wrapper {
	position: relative;
	height: 301px
}
.maintenance-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.ntify_form {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}
.ntify_form form {
	position:relative
}
.ntify_form input[type="email"] {
	margin-top: 34px;
	height: 50px;
	width: 100%;
	outline: none;
	border: 1px solid #d2d4d7;
	display: block;
	background-color: transparent;
	padding-left: 22px;
	padding-right: 64px;
	font-size: 15px;
	color: #696b71;
	line-height: 16px
}
.ntify_form input[type="email"]:focus {
	border-color: #35373e
}
.ntify_form input[type="submit"] {
	border: none;
	outline: none;
	width: 60px;
	height: 50px;
	display: block;
	background-color: #35373e;
	font-size: 0;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center
}
.ntify_form label:before {
	content:"\f1d9";
	font-family:'FontAwesome';
	display:block;
	color:#bababd;
	font-size:28px;
	line-height:18px;
	position:absolute;
	right:16px;
	top:14px;
	z-index:1;
	text-align:center;
	cursor:pointer
}
.ntify_form input[type="submit"]:hover {
	background-color: #35373e
}
.notify-me-wrapper a {
	margin-top: 32px;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 2px;
	color: #35373e
}
.notify-me-wrapper a:hover {
	color: #35373e;
	text-decoration: underline
}
.error_message {
	color: #fc6e51;
	padding-bottom: 15px;
	font-size: 13px;
	line-height: 30px;
}
#success_page {
	color: #9ce726;
	padding-bottom: 10px;
	font-size: 12px;
}
#success_page h3 {
	font-size: 17px;
	font-weight: 400px;
	color: #4ab217;
}
#success_page p {
	font-size: 12px;
	font-weight: 400px;
	color: #b3b3b3;
}
